*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f4e8;
    margin:10px 60px;
}

.container{
    width: 100%;
    margin: o auto;
    overflow: hidden;
    border: px solid;
    margin-left: 100px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    /* color: #555555; */
    /* color: black; */
    font-size: 20px;
}

header{
    display: flex;
    padding-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-box1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex-list1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* display: flex; */
}



.flex-box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.button1{
    background-image: linear-gradient(to right, #EAAE53,#EA5573);
    border-radius: 25px;
    padding: 0px 10px;
    border: none;
}

.button2{
    background-color: #4977EA ;
    color: white;
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

main{
    margin-top: 60px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 400px;
}

.grid-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    /* width: 900px; */
    font-size: larger;
    /* min-width: 10px; */
}

/* .grid-box1 h1{
    font-size: 40px;
} */



h1{
    width: 280px;
}

.grid-box1 p{
    width: 410px;
    color: black
    font-size: 16px;
    line-height: 1.5rem;
}

.input-sec{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input-box{
    border: none;
    padding: 20px 20px;
    border-radius: 8px;
}

.checkmark img{
    cursor: pointer;
}

.checkmark{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.grid-box2{
    display: grid;
    grid-template-columns: 1fr;
    
}

.img-container{
    position: relative;
    height: 100%;
}

.img-container img{
    position: absolute;
    width: 21em;
}

.model{
    z-index: 100;
}

.purple{
    z-index: 90;
    transform: rotate(-15deg);
}

.pink{
    z-index: 80;
    transform: rotate(-30deg);
}

.blue{
    z-index: 70;
    transform: rotate(-45deg);
}

footer{
    margin-top:50px ;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.help-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.end{
    color: #555555;
}

@media screen and  (max-width :768px) {
    
}