*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f4e8;
}

.container{
    width: 80%;
    margin: o auto;
    overflow: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #555555;
    font-size: 20px;
}

header{
    display: flex;
    padding-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-box1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex-list1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    display: flex;
}



.flex-box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: px;
}

.button1{
    background-color: linear-gradient(to right, #EAAE53,#EA5573);
    border-radius: 25px;
    padding: 0px 10px;
}

.button2{
    background-color: #4977EA ;
    color: white;
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 15px;
}

main{
    margin-top: 60px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 400px;
}

h1{
    width: 280px;
}

.grid-box1 p{
    width: 410px;
    color: #555555;
    font-size: 16px;
    line-height: 1.5rem;
}

.input-sec{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input-box{
    border: none;
    padding: 20px 20px;
    margin: 8px;
}

.checkmark img{
    cursor: pointer;
}

.checkmark{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.grid-box2{
    display: grid;
    grid-template-columns: 1fr;
}

.img-container{
    position: relative;
    height: 100%;
    float: left;
}

.img-container img{
    position: absolute;
    width: 21em;
}

.model{
    z-index: 999;
}

.purple{
    z-index: 90;
    transform: rotate(-15deg);
}

.pink{
    z-index: 80;
    transform: rotate(-30deg);
}

.blue{
    z-index: 70;
    transform: rotate(-45deg);
}

